{
  "extends": ["eslint-config-asjas/node-typescript"],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "tsconfig.json"
  },
  "rules": {
    "no-shadow": 0,
    "node/no-unpublished-import": 0
  }
}
